@using Service;

@foreach (KeyValuePair<int, List<ProjectStatService.Sector>> x in ViewBag.year)
{
    <tr>
        <td>@x.Key</td>
   </tr>

    foreach (ProjectStatService.Sector y in x.Value)
    {
        @y.sector
        @y.size    
    }
}
<h2>Show</h2>
