
WebMAP/Content/ProfilePictures/

Data/bin/Debug/

Data/obj/Debug/

Domain/obj/Debug/

Service/obj/Debug/

ServicePattern/bin/Debug/

WebMAP/obj/Debug/

Domain/bin/Debug/

Service/bin/Debug/

ServicePattern/obj/Debug/
